{% extends "SportacusCoreBundle::layout.html.twig" %}
{% block content %}
    <h1>Suivi de vos mesures</h1>
	{% include "SportacusCoreBundle:Home:measures.html.twig" %}
	{{ form(form) }}
{% endblock %}